//colors
$white: #ffffff;
$dark-green: #0f5a47;
$green: #dde3bd;
$blue: #61c4d9;
$black: #0d0d0d;
$gray: #f2f5f4;
$dark-gray: #666666;
$black-gray: #323232;
$icone-promo: #b0f7ff;
$icone-why: #2a2a29;
$gray-bg: #f8faf9;
$bar-icone: #00accf;

// resolutions
$phones: 480px;
$tablets: 768px;
$desktop: 1200px;

//normalize
@import "./layout/normalize.scss";


//setups
@import "./layout/base.scss";
@import "./layout/fonts.scss";
@import "./layout/mixin.scss";
@import "./layout/media.scss";



//blocks
@import "./blocks/header.scss";
@import "./blocks/nav.scss";
@import "./blocks/promo.scss";
@import "./blocks/contacts.scss";
@import "./blocks/btn.scss";
@import "./blocks/why.scss";
@import "./blocks/comments.scss";
@import "./blocks/team.scss";
@import "./blocks/menu.scss";
@import "./blocks/delivery.scss";
@import "./blocks/form.scss";
@import "./blocks/option.scss";
@import "./blocks/map.scss";
@import "./blocks/footer.scss";
@import "./blocks/bars.scss";
@import "./blocks/social.scss";
@import "./blocks/fixed-menu.scss";
@import "./blocks/hamburger-menu.scss";

