.bars {
    background-color: $gray-bg;

    &::after {
        @include tablets-min {
            content: "";
            background-image: url(../../img/bg/sheet-two.png);
            background-size: auto;
            background-repeat: no-repeat;
            width: rem(190px);
            height: rem(600px);
            z-index: 1;

            @include zero;
            bottom: rem(-240px);
            left: auto;
            top: auto;
        }
    }

    &::before {
        @include phones-min {
            content: "";
            background-image: url(../../img/bg/berry-four.png);
            background-size: auto;
            background-repeat: no-repeat;
            width: rem(135px);
            height: rem(130px);
            z-index: 10;


            @include zero;
            bottom: rem(-69px);
            left: auto;
            top: auto;
            right: rem(14px);
        }
    }
}

.bars__content {
    @include flex;

    @include laptop {
        flex-direction: column;
    }
}

.bars__desc {
    margin-left: rem(65px);
    margin-right: rem(35px);
    line-height: 1.2;

    h2 {
        font-size: rem(36px);
        font-weight: bold;
        color: $black;
        text-transform: uppercase;
        margin-bottom: rem(13px);

        @include laptop {
            font-size: 30px;
            text-align: center;
        }
    }

    p {
        font-size: rem(18px);
        font-weight: normal;
        color: $dark-gray;
        margin-bottom: rem(35px);

        @include laptop {
            text-align: center;
            max-width: rem(570px);
        }

        @include phones {
            max-width: rem(390px);
            margin-bottom: rem(20px);
        }
    }

    @include laptop {
        @include flex;
        flex-direction: column;
        margin: 0;
    }
}

.bars__col {
    font-size: rem(18px);
    color: $black-gray;
    margin-right: rem(36px);

    &:last-child {
        margin-right: 0;
    }

    h3 {
        font-weight: normal;
    }

    p {
        font-weight: bold;
        text-align: left;
    }

    @include laptop {
        margin-right: rem(55px);
    }
}

.bars__add {
    display: flex;
    margin-bottom: rem(25px);

    p {
        margin-bottom: 0;
    }

    @include laptop {
        margin-bottom: rem(35px);
    }
}

.bars__price {
    display: flex;
    align-items: center;

    p {
        font-size: rem(60px);
        font-weight: 300;
        color: $black;
        margin-right: rem(30px);
        margin-bottom: 0;
    }
}

.bars__composition {
    flex-direction: column;
    width: rem(90px);
    height: rem(90px);
    background-color: $bar-icone;
    border-radius: rem(5px);
    margin-bottom: rem(30px);

    @include flex;

    &::after {
        content: "состав";
        text-transform: uppercase;
        font-size: rem(13px);
        font-weight: 900;
        font-style: italic;
        color: $white;
    }

    @include laptop {
        position: absolute;
        top: 3%;
        right: 3%;
    }
}

.bars__icone {
    width: rem(50px);
    height: rem(50px);
    margin-bottom: rem(5px);
    fill: $white;
}

.bars__photo {
    display: block;
    max-width: rem(475px);

    @include laptop {
        max-width: rem(380px);
        margin-bottom: rem(20px);
    }
}