.btn {
    font-size: rem(19px);
    font-weight: 800;
    color: $dark-green;
    background-color: $white;
    padding: rem(22px) rem(35px);
    border-radius: rem(40px);

    &:focus {
        outline: none;
    }
}

.btn--submit {
    color: $white;
    background-color: $dark-green;
    text-transform: uppercase;
    margin-right: rem(10px);
}

.btn--clean {
    background-color: transparent;
    font-weight: normal;
    padding: rem(22px) rem(20px);
}