.comments {
    position: relative;

    &:before {
        content: "";
        background-image: url(../../img/bg/berry-two.png);
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 270px;
        left: 0;
        width: 200px;
        height: 200px;
    }

    &:after {
        content: "";
        background-image: url(../../img/bg/berry-one.png);
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 270px;
        right: 0;
        width: 200px;
        height: 100px;
    }
}

.comments__content>h2 {
    font-size: 48px;
    font-weight: bold;
    color: $black;
    text-align: center;
    margin-bottom: 26px;
}

.comments__box {
    @include cover;
    display: flex;
    background-image: url(../../img/bg/comments.png);
    width: 940px;
    padding: 50px 182px 35px 45px;
    margin-bottom: 17px;
}

.comments__desc {

    &>h3 {
        font-size: 30px;
        font-weight: 500;
        color: $black-gray;
        margin-top: 8px;
        margin-bottom: 18px;
    }

    &>h4 {
        font-size: 18px;
        color: $dark-gray;
        margin-bottom: 27px;
        line-height: 1.25;
    }

    &>h5 {
        font-size: 18px;
        font-weight: 500;
        color: $dark-gray;
    }
}

.comments__avatar-list {
    @include flex;
    margin-bottom: 65px;

    &>.comments__avatar-item {
        margin-right: 12px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.comments__pic {
    margin-right: 19px;
}

.comments__photo {
    width: 255px;
    height: 260px;
    object-fit: cover;
}

.comments__icon {
    border: solid 6px transparent;
    height: 67px;
    width: 67px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;

    &--active {
        border: solid 6px $dark-green;
    }
}