.comments {
    position: relative;

    &:before {
        @include tablets-min {
            content: "";
            background-image: url(../../img/bg/berry-two.png);
            background-repeat: no-repeat;
            background-size: auto;
            width: rem(135px);
            height: rem(320px);
            z-index: 10;

            @include zero;
            bottom: rem(-140px);
            top: auto;
        }
    }

    &:after {
        @include phones-min {
            content: "";
            background-image: url(../../img/bg/berry-one.png);
            background-size: auto;
            background-repeat: no-repeat;
            width: rem(160px);
            height: rem(130px);
            z-index: 10;

            @include zero;
            top: rem(50px);
            right: rem(50px);
            left: auto;
        }
    }
}

.comments__content {
    h2 {
        font-size: rem(48px);
        font-weight: bold;
        color: $black;
        text-align: center;
        margin-bottom: rem(26px);
        text-transform: uppercase;
        position: relative;
        z-index: 10;

        @include tablets {
            margin-bottom: rem(40px);
        }

        @include phones {
            font-size: rem(40px);
            margin-bottom: rem(20px);
        }
    }
}

.comments__box {
    display: none;
    padding: rem(50px) 19% 3% 5%;
    background-color: $gray-bg;
    position: relative;

    &::after {
        @include tablets-min {
            content: "";
            background-image: url(../../img/bg/comments.png);
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            right: 0;
            width: rem(127px);
            height: rem(167px);
        }
    }

    &::before {
        content: "";
        background-image: url(../../img/bg/elips.png);
        background-repeat: no-repeat;
        position: absolute;
        right: 50%;
        transform: translate(50%, -130%);
        width: rem(90px);
        height: rem(90px);
        z-index: 1;

        @include tablets {
            transform: translate(50%, -150%);
        }

        @include phones {
            transform: translate(50%, -135%);
        }
    }

    @include tablets {
        flex-direction: column;
        align-items: center;
        padding: rem(65px) 5% 5%;
        text-align: center;
        margin: 0 17% rem(40px);
    }

    @include phones {
        margin: 0 0 rem(35px);
        padding: rem(55px) 5% 7%;
    }
}

.comments__box-list {
    margin-bottom: rem(17px);
}

.comments__box--active {
    display: flex;
}

.comments__desc {
    h3 {
        font-size: rem(30px);
        font-weight: 500;
        color: $black-gray;
        margin-top: rem(8px);
        margin-bottom: rem(18px);

        @include phones {
            margin-bottom: rem(10px);
        }
    }

    h4 {
        font-size: rem(18px);
        color: $dark-gray;
        margin-bottom: rem(27px);
        line-height: 1.25;
    }

    h5 {
        font-size: rem(18px);
        font-weight: 500;
        color: $dark-gray;
    }
}

.comments__avatar {
    margin-bottom: rem(65px);
}

.comments__avatar-list {
    @include flex;
}

.comments__avatar-item {
    @include tablets {
        margin-right: rem(20px);
    }

    @include phones {
        margin-right: rem(10px);
    }
}

.comments__avatar-item--active {
    .comments__icon {
        border: solid rem(6px) $dark-green;

        @include tablets {
            border: solid rem(9px) $dark-green;
        }
    }
}

.comments__pic {
    margin-right: rem(19px);

    @include tablets {
        margin-right: 0;
        margin-bottom: rem(10px);
    }

    @include phones {
        margin-bottom: 0;
    }
}

.comments__photo {
    width: rem(255px);
    height: rem(260px);
    object-fit: cover;

    @include tablets {
        width: rem(200px);
        height: rem(200px);
    }

    @include phones {
        width: rem(120px);
        height: rem(125px);
    }
}

.comments__icon {
    border: solid rem(6px) transparent;
    height: rem(80px);
    width: rem(80px);
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;

    @include tablets {
        border: solid rem(9px) transparent;
        height: rem(100px);
        width: rem(100px);
    }

    @include phones {
        height: rem(85px);
        width: rem(85px);
    }
}
