.contacts {
    @include flex;
}

.contacts__phone {
    font-size: rem(24px);
    color: $white;
    display: block;
}

.contacts__phone-icone {
    margin-right: rem(4px);
    width: rem(12px);
    height: rem(11px);
    fill: $white;
}

.contacts__phone-icone--footer {
    fill: $dark-green;
}

.contacts--header {
    @include laptop {
        display: none;
    }
}