.footer {
    background-color: $white;
    
    @include zero;
    top: auto;
}

.footer__container {
    padding: rem(20px) 0;
    display: flex;
    justify-content: space-between;
}

.footer__address {
    font-size: rem(21px);
    font-weight: normal;
    color: $black;
}

.footer__phone {
    display: flex;
    align-items: center;
    font-size: rem(21px);
    font-weight: normal;
    color: $dark-green;
}

.footer__col--right {
    @include flex;
}

.social__icone {
    opacity: 0.3;
}