.footer {
    background-color: $white;

    @include zero;
    top: auto;
}

.footer__container {
    padding: rem(20px) 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    @include phones {
        align-items: center;
        flex-direction: column;

    }
}

.footer__address {
    font-size: rem(21px);
    font-weight: normal;
    color: $black;
}

.footer__phone {
    display: flex;
    align-items: center;
    font-size: rem(21px);
    font-weight: normal;
    color: $dark-green;

    
}

.footer__col--right {
    @include flex;

    @include phones {
        margin-top: rem(10px);
    }
}

.social__icone {
    opacity: 0.3;
}

.footer__col {
    @include phones {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}