.hamburger-menu {
    display: none;
    
    @include flex;

    @include tablets {
        display: flex;
    }
}

.hamburger-menu__icone {
    width: rem(25px);
    height: rem(25px);
    fill: $white;
}