.header {
    position: absolute;
    width: 100%;
    padding-top: rem(20px);
    z-index: 1;
}

.header__container {
    margin: 0 auto;
    
    @include flex;
    justify-content: space-between;
}

.header__wrapper {
    width: rem(634px);

    @include laptop {
        display: none;
    }
}