.menu {
    background-image: url(../../img/bg/menu-main.png);
    background-color: black;

    @include cover;

    h2 {
        position: absolute;
        top: 10%;
        left: 10%;
        font-size: rem(48px);
        font-weight: bold;
        color: $white;
        text-transform: uppercase;

        @include phones {
            font-size: rem(40px);
        }
    }
}

.menu__list {
    display: flex;

    @include zero;
    left: auto;
}

.menu__item {
    display: flex;

    @include laptop {
        overflow: hidden;
    }

    // visibility: visible;
    // @include phones {
    //     flex-shrink: 1;
    // }
}

.menu__item--active {
    position: relative;

    @include laptop {
        flex-shrink: 0;
        order: 1;
        width: 100%;
    }

    // @include laptop {
    //     position: static;
    // }

    .menu__desc {
        width: 550px;
        color: $white;
        transition: width 0.4s, color 0.4s 0.35s;

        @include laptop {
            width: 100%;
            transition: color 0.4s 0.35s;
        }
    }

    .menu__close {
        position: absolute;
        top: rem(20px);
        right: rem(20px);
        z-index: 20;
        display: flex;
    }
}

.menu__close {
    display: none;
}

.menu__desc {
    width: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba($white, 0);
    transition: width 0.4s;

    @include laptop {
        transition: none;
    }

    p {
        font-size: rem(16px);
        font-weight: normal;
        line-height: 1.5;
        padding: rem(50px) rem(60px) rem(60px) rem(50px);
    }
}

.menu__link {
    flex: none;
    width: rem(100px);
    background-color: black;
    position: relative;

    @include phones {
        width: rem(70px);
    }

    h3 {
        position: absolute;
        top: 95%;
        left: 50%;
        display: block;
        font-size: rem(48px);
        font-weight: 500;
        color: $white;
        white-space: nowrap;
        transform: rotate(-90deg) translateY(-50%);
        transform-origin: 0 0;

        @include phones {
            font-size: rem(38px);
        }
    }
}

.menu__link--milk {
    background-image: url(../../img/bg/menu-one.png);

    @include cover;
}

.menu__link--honey {
    background-image: url(../../img/bg/menu-two.png);

    @include cover;
}

.menu__link--berry {
    background-image: url(../../img/bg/menu-three.png);

    @include cover;
}

.menu__icone {
    fill: $gray;
    width: rem(18px);
    height: rem(18px);
}