.menu {
    background-image: url(../../img/bg/menu-main.png);
    background-color: black;

    @include cover;

    h2 {
        position: absolute;
        top: 10%;
        left: 10%;
        font-size: rem(48px);
        font-weight: bold;
        color: $white;
        text-transform: uppercase;

        @include phones {
            font-size: rem(40px);
        }
    }
}

.menu__list {
    display: flex;

    @include zero;
    left: auto;
}

.menu__item {
    display: flex;
}

.menu__item--active {

    .menu__desc {
        width: 40vw;

        @include laptop {
            width: calc(100% - 100px);
        }
    }
}

.menu__desc {
    width: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);

    p {
        font-size: rem(16px);
        font-weight: normal;
        line-height: 1.5;
        color: $white;
        padding: rem(50px) rem(20px);
    }
}

.menu__link {
    display: block;
    width: rem(100px);
    background-color: black;
    position: relative;

    h3 {
        position: absolute;
        top: 95%;
        left: 50%;
        display: block;
        font-size: rem(48px);
        font-weight: 500;
        color: $white;
        white-space: nowrap;
        transform: rotate(-90deg) translateY(-50%);
        transform-origin: 0 0;

        @include phones {
            font-size: rem(38px);
        }
    }
}

.menu__link--one {
    background-image: url(../../img/bg/menu-one.png);

    @include cover;
}

.menu__link--two {
    background-image: url(../../img/bg/menu-two.png);

    @include cover;
}

.menu__link--three {
    background-image: url(../../img/bg/menu-three.png);

    @include cover;
}

.menu__close {
    position: absolute;
    top: rem(40px);
    right: rem(40px);
    z-index: 20;
    display: flex;
}

.menu__icone {
    fill: $gray;
    width: rem(18px);
    height: rem(18px);
}