.option {
    display: flex;

    &+.option {
        margin-left: rem(23px);
    }
}

.option__radio {
    width: rem(10px);
    height: rem(10px);
    margin: 0 rem(-10px) rem(-10px) 0;
    opacity: 0;

    &:checked~.option__radio-styler::after {
        content: "";
        opacity: 1;
    }
}

.option__radio-styler {
    display: inline-block;
    height: rem(26px);
    width: rem(26px);
    border-radius: 50%;
    background-color: $white;
    position: relative;
    margin-right: rem(8px);

    &::after {
        content: "";
        width: rem(14px);
        height: rem(14px);
        background-color: $dark-green;
        border-radius: 50%;
        opacity: 0;

        @include center;
    }
}

.option__checkbox {
    @extend .option__radio;
}

.option__checkbox-styler {
    height: rem(26px);
    width: rem(26px);
    background-color: $white;
    position: relative;
    margin-right: rem(8px);

    @include flex;
}

.option__icone {
    fill: $dark-green;
    width: rem(15px);
    height: rem(15px);
    opacity: 0;
}

.option__checkbox:checked~.option__checkbox-styler {
    .option__icone {
        opacity: 1;
    }
}