.promo {
    @include cover;
    background-image: url(../../img/bg/blue.png);
    position: relative;

    &:before {
        content: "";
        @include cover;
        @include zero;
        background-image: url(../../img/bg/bars.png);
    }
}

.promo__content {
    color: $white;
    position: relative;
    z-index: 10;

    &>h1 {
        margin-bottom: 10px;
        font-size: 60px;
        font-weight: bold;
        line-height: 1;
        text-align: left;
        text-transform: uppercase;
    }

    &>h2 {
        font-size: 21px;
        margin-bottom: 48px;
        line-height: 1.2;
    }
}

.promo__btn {
    margin-bottom: 80px;
    text-transform: uppercase;
}

.promo__list {
    display: flex;
}

.promo__item {
    margin-right: 45px;
    font-size: 14px;
    color: $white;
    line-height: 1.2;
    display: flex;

    &:last-child {
        margin-right: 0;
    }

    &::before {
        content: "";
        margin-right: 10px;
        display: block;
        background-image: url('../../img/icons/info_sprites.png');
    }

    &:nth-child(1)::before {
        width: 44px;
        height: 41px;
        background-position: -72px -10px;
    }

    &:nth-child(2)::before {
        width: 50px;
        height: 40px;
        background-position: -136px -10px;
    }

    &:nth-child(3)::before {
        width: 42px;
        height: 42px;
        background-position: -10px -10px;
    }
}







// .promo__info {
//     display: flex;
//     font-size: 14px;
//     color: $white;

//     &>h3 {
//         display: flex;
//         flex-direction: row;
//         line-height: 1.2;
//         margin-right: 46px;
//     }

//     &>h3::before {
//         content: "";

//         margin-right: 10px;
//         display: block;
//         background-image: url('../../img/icons/info_sprites.png');
//     }

//     &>h3:nth-child(1)::before {
//         width: 44px;
//         height: 41px;
//         background-position: -72px -10px;
//     }

//     &>h3:nth-child(2)::before {
//         width: 50px;
//         height: 40px;
//         background-position: -136px -10px;
//     }

//     &>h3:nth-child(3)::before {
//         width: 42px;
//         height: 42px;
//         background-position: -10px -10px;
//     }
// }