.team__content {
    @include flex;
    flex-direction: column;

    h2 {
        font-size: rem(48px);
        font-weight: bold;
        color: $black;
        text-transform: uppercase;
    }
}

.team__list {
    @include flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: rem(-20px);
}

.team__item {
    width: calc(100%/4 - 20px);
    margin-left: rem(20px);
}

.team__block {
    @include flex;

    h3 {
        margin-right: rem(3px);
        font-size: rem(21px);
        font-weight: 500;
        color: $black-gray;
        text-align: center;
    }
}

.team__desc {
    font-size: rem(18px);
    text-align: center;
    height: 0;
    overflow: hidden;

    h4 {
        font-weight: normal;
        color: $black-gray;
    }

    h5 {
        font-weight: 300;
        color: $dark-gray;
    }
}

.team__item--active {
    .team__desc {
        height: auto;
    }
}

.team__icone {
    width: rem(15px);
    height: rem(15px);
    fill: $dark-green;
}
