.why:before {
    content: "";
    @include zero;
    background-image: url(../../img/bg/berry-three.png);
    background-repeat: no-repeat;
    top: rem(270px);
}

.why__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    h2 {
        font-size: rem(48px);
        font-weight: bold;
        color: $black;
        text-transform: uppercase;
    }

    h3 {
        font-size: rem(18px);
        color: $dark-gray;
        text-align: center;
        margin-bottom: rem(53px);
        line-height: 1.2;
    }
}

.why__list {
    display: flex;
    justify-content: center;
}

.why__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: rem(78px);

    &:last-child {
        margin-right: 0;
    }

    h3 {
        font-size: rem(27px);
        font-weight: bold;
        color: $black;
        margin-bottom: rem(14px);
    }

    h4 {
        text-align: center;
        font-size: rem(18px);
        font-weight: 300;
        color: $dark-gray;
        line-height: 1.2;
    }
}

.why__icone {
    @include flex;
    background-color: $gray;
    border-radius: 50%;
    width: rem(125px);
    height: rem(125px);
}

.why__pic {
    fill: none;
    stroke: $icone-why;
    stroke-width: 0.75;
    stroke-miterlimit: 10;
    width: rem(75px);
    height: rem(75px);

    &--sheet {
        stroke-width: 0.6;
    }
}