.why {
    &::after {
        @include phones-min {
            content: "";
            background-image: url(../../img/bg/sheet-one.png);
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;

            @include zero;
            top: rem(190px);
        }
    }

    &:before {
        @include phones-min {
            content: "";
            background-image: url(../../img/bg/berry-three.png);
            background-repeat: no-repeat;
            width: rem(350px);
            height: rem(350px);
            z-index: 10;

            @include zero;
            bottom: rem(-140px);
            left: 0;
            top: auto;
        }
    }
}

.why__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    h2 {
        font-size: rem(48px);
        font-weight: bold;
        color: $black;
        text-transform: uppercase;
        text-align: center;
        line-height: 1.2;

        @include tablets {
            margin-bottom: rem(3px);
        }

        @include phones {
            font-size: rem(40px);
        }
    }

    h3 {
        font-size: rem(18px);
        color: $dark-gray;
        text-align: center;
        margin-bottom: rem(54px);
        line-height: 1.2;
        max-width: rem(410px);

        @include tablets {
            margin-bottom: rem(27px);
        }

        @include phones {
            margin-bottom: rem(50px);
        }
    }
}

.why__list {
    display: flex;
    justify-content: space-between;

    @include tablets {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        padding: 0 18%;
    }

    @include phones {
        padding: 0;
    }
}

.why__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: calc(100% / 3 - 70px);

    &:nth-child(1):after,
    &:nth-child(2):after {
        @include tablets-min {
            content: "";
            background-image: url(../../img/bg/circle.png);
            width: rem(67px);
            height: rem(21px);
            position: absolute;
            left: 108%;
            top: 20%;
        }
    }

    h3 {
        font-size: rem(27px);
        font-weight: bold;
        color: $black;
        margin-bottom: rem(14px);

        @include tablets {
            margin-bottom: rem(10px);
        }

        @include phones {
            text-align: left;
            margin-bottom: rem(15px);
        }
    }

    h4 {
        text-align: center;
        font-size: rem(18px);
        font-weight: 300;
        color: $dark-gray;
        line-height: 1.2;

        @include phones {
            text-align: left;
        }
    }

    @include tablets {
        margin-bottom: rem(21px);
        width: 100%;
        margin-left: 0;
    }

    @include phones {
        flex-direction: row;
        align-items: center;
        margin-bottom: rem(35px);
    }
}

.why__icone {
    background-color: $gray;
    border-radius: 50%;
    min-width: rem(125px);
    min-height: rem(125px);
    margin-bottom: rem(30px);

    @include flex;

    @include tablets {
        margin-bottom: rem(20px);
    }

    @include phones {
        margin-bottom: 0;
        margin-right: rem(10px);
    }
}

.why__pic {
    fill: none;
    stroke: $icone-why;
    stroke-width: 0.75;
    stroke-miterlimit: 10;
    width: rem(75px);
    height: rem(75px);

    &--sheet {
        stroke-width: 0.6;
    }
}

.why__desc {
    h3 {
        max-width: 1000px;
    }
}